h1 {
    color: green;
    text-align: center;
}

.button {
    background-color: rgba(202, 202, 204, 1);
    border: 1px solid #666;
    width: 25%;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

#btn-0 {
    width: 50%;
    text-align: left;
}

#btn-clear-ac {
    padding-left: 1.7em;
}

#btn-minus-plus,
#btn-clear-ac,
#btn-percentage {
    background-color: grey;
}

#btn-division,
#btn-multi,
#btn-minus,
#btn-plus,
#btn-equal {
    background-color: orange;
    color: white;
}

#main-container {
    background-color: bisque;
    position: relative;
    margin: 0 auto;
    display: block;
    max-width: 300px;
}

#calc-current {
    background-color: darkslategray;
    height: 80px;
    text-align: right;
    padding: 15px;
}

#calc-history {
    background-color: brown;
    height: 25px;
    text-align: right;
    color: white;
}