body {
    margin: 0;
    font: 100 14px 'Roboto';
}

h1 {
    color: green;
    text-align: center;
}

button {
    display: block;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    user-select: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:active {
    box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, 0.25);
}

#wraper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container {
    width: 320px;
    height: 530px;
    position: relative;
}

.calculator {
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
}

.display-wraper {
    height: 130px;
    display: flex;
    flex-direction: column;
}

#wrapper .calculator {
    box-shadow: 0px 0px 20px 0px #aaa;
}

#calc-current {
    padding-right: 2px;
    padding-left: 2px;
    color: white;
    background: #1c191c;
    line-height: 100px;
    font-size: 5em;
    flex: 1;
    text-align: right;
}

#calc-history {
    color: white;
    padding-left: 5px;
    background: #1c191c;
    font-size: 1.5em;
    flex: 1;
}

#calc-panel {
    height: 400px;
    display: flex;
}

.input-keys {
    width: 240px;
}

.function-keys {
    display: flex;
}

.digit-keys {
    background: #e0e0e7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.calculator-key {
    width: 80px;
    height: 80px;
    border-top: 1px solid #777;
    border-right: 1px solid #666;
    text-align: center;
    line-height: 80px;
}

.operator-keys .calculator-key {
    color: white;
    border-right: 0;
    font-size: 3em;
}

.function-keys .calculator-key {
    color: white;
    font-size: 1.3em;
}

#btn-0 {
    width: 160px;
    text-align: left;
    padding-left: 32px;
}

.digit-keys .calculator-key {
    font-size: 2.25em;
}

#btn-dot {
    padding-top: 1em;
    font-size: 0.75em;
}

.function-keys {
    background: linear-gradient(to bottom, rgba(256, 100, 100, 1) 0%, rgba(256, 50, 50, 1) 100%);
}

.operator-keys {
    background: linear-gradient(to bottom, rgba(252, 156, 23, 1) 0%, rgba(247, 126, 27, 1) 100%);
}